{% load static%}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/products/delete_product.css' %}">
{% endblock head %}
  

<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Eliminar producto</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form class="cell">
    <div class="callout secondary">
      <div class="card text-bg-danger p-3" style="max-width: 100%;">
        <div class="card-body">
          El prodcuto <strong>{{name}}</strong> será eliminado definitivamente del inventario
          <li>Cantidad: {{amount}}</li>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-danger delete_product_def" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Al presionar este botón no se podrán realizar más acciones sobre este producto y tampoco se podrá acceder a su información de nuevo">
        Confirmar
      </button>
    </div>
  </form>
</div>