{% load static %}
<div class="modal-header">
    <h4>Agregar producto</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="mi_formulario">
    <div>
        <label for="input_image_product" class="addproduct_label">Cargar imagen...</label>
    </div>
    <label for="input_image_product">
        <img class="image_product" src="{% static 'img\products\default\default-img.jpg' %}" alt="default.jpg" id="image_product" data-default-file="{% static 'img/products/default/default-img.jpg' %}">
        <input class="input_image_product" id="input_image_product" type="file" accept="image/*">
    </label>
    <button class="delete_image_product" id="delete_image_product" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
    </button>
    <input type="number" class="addproduct_input" name="code" id="code" placeholder="Código" required
        data-bs-toggle="tooltip" data-bs-placement="left" title="Este campo no será reemplazable" autocomplete="off">
    <input type="text" class="addproduct_input"  name="name" id="name" placeholder="Nombre" required>
    <input type="number" class="addproduct_input" name="amount" id="amount" placeholder="Cantidad" step="1">
    <input type="number" class="addproduct_input" name="entry_price" id="entry_price" placeholder="Precio de compra" required>
    <input type="number" class="addproduct_input" name="exit_price" id="exit_price" placeholder="Precio de salida" required>
    <p id="alert_digit">Nota: En los campos para los precios, sólo se permiten maximo 10 caracteres</p>
    <button type="submit" class="addproduct_boton addproduct_input" value="Crear producto">Crear Producto</button>
</form>
