{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Historico de cajas</title>
    <link rel="stylesheet" href="{% static 'css/box_css/list_box.css' %}">
{% endblock head %}


{% block content %}
    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
        <a style="text-align: center; margin-top: 20px; margin-left: 15px;" class="btn btn-outline-danger modal_close_box" role="button" id="modal_create_product">
            Crear cierre de caja 
        </a>
        <div class="d-flex" style="padding: 20px 20px; width: 250px;">
            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" name="search_box" id="search_box">
            <button class="btn btn-outline-success" id="botom_search_box">Buscar</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">N° de caja</th>
                    <th scope="col">Fecha de apertura</th>
                    <th scope="col">Fecha de cierre</th>
                    <th scope="col">Saldo Inicial</th>
                    <th scope="col">Saldo final</th>
                    <th scope="colgroup">Estado</th>
                    <th scope="colgroup">Detalles</th>
                </tr>
            </thead>
            <tbody class="showResults">
                {% for box in history_box%}
                <tr>
                    <th scope="row">#{{box.id}}</th>
                    <td>{{box.fecha_apertura}}</td>
                    <td>{{box.fecha_cierre}}</td>
                    <td>{{box.saldo_inicial}}</td>
                    <td>{{box.saldo_final}}</td>
                    <td>{{box.estado}}</td>
                    <td style="text-align: center;">
                        <i class="bi bi-eye visualizer" data-id="{{box.id}}"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% if is_paginated %}
    <div id="pagination-container">
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}} "tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for pagina in paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{ pagina }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock content %}


{% block scriptjs %}
    <script src="{% static 'js/box/list_box.js' %}"></script>
{% endblock scriptjs %}
    