{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Create user</title>
{% endblock head %}

{% block content %}
<div style="padding-bottom: 40px;">
    <div class="py-5 text-center">
        <h2>Crear usuario</h2>
    </div>
    <div class="container">
        <div class="div-form p-4 rounded">
            <form method="post" class="row g-3 form">
                {% csrf_token %}
                <div class="col-md-6 mx-auto">
                    <fieldset class="col-md-12">
                        {% for field in form %}
                            {% if field.name == 'is_superuser' %}
                                <div class="form-check form-check-inline mb-3">
                                    {{ field }}
                                    <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                </div>
                            {% else %}
                                <div class="form-floating mb-3">
                                    {{ field }}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% for error in field.errors %}
                                        <div class="text-danger">
                                            <i class='bx bx-x bx-tada'></i>
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-outline-success" type="submit">Crear usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}



{% block scriptjs %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/form-validation.js' %}"></script>
{% endblock scriptjs %}
