<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Eliminar usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="cell" method="post" action="{% url 'admin_app:delete_user' u.id%}">{% csrf_token %}
              <div class="callout secondary">
                <div class="callout secondary">
                  <div class="card text-bg-danger p-3" style="max-width: 100%;">
                    <div class="card-header">{{ u.first_name }} {{ u.last_name }}</div>
                    <div class="card-body">
                      <p>Confirma que quieres eliminar al usuario<strong>{{ u.first_name }} {{ u.last_name }}</strong> de manera permanente</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Al presionar este botón no se podrán realizar más acciones sobre este usuario">
                  Confirmar
                </button>
              </div>
            </form>
          </div>          
    </div>
</div>        